{% extends '::base.html.twig' %}

{% block body -%}
<ul>
        {% for entity in entities %}
    <li style="display:inline-block;font-size: 75%;">
            {{ entity.postnr }} {{ entity.gemeente }} {{ render(controller('AlexPizzaBundle:Kosten:showCost', { 'postnr': entity.id })) }}
    </li>           

        {% endfor %}
    
</ul>
</table>
{% endblock %}
