{% extends 'AlexPizzaBundle::layout.html.twig' %}

{% block content %}

{% block body -%}
    <h1>Postnr creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('postnr') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{% endblock %}