{% extends 'AlexPizzaBundle::layout.html.twig' %}

{% block content %}

{% block body -%}
   <div id="textoverons">
        	<h1>Over ons</h1>
            <p><span>Benvenuti</span> - zoals ze in Italië zeggen- ,</p>
            <p>Voor de klanten die al gegeten hebben bij ons, welkom terug!  Is het je eerste bezoek dan heten we je hartelijk welkom en zijn we er zeker van dat je een aangename ervaring tegemoet gaat.</p> 
            <p>Bent u op zoek naar de <span>échte</span> italiaanse keuken waar verse ingrediënten en een gezellige sfeer hand in hand samengaan, zoek niet meer verder.</p>
            <p>Bij pizzeria da Renata serveren we al <span>22 jaar</span> sublieme pizza's &amp; pasta's.  Bent u meer verlekkerd op vlees?  Ook dan bent u op de juiste plaats.  We hebben overheerlijke vleesgerechten die wekelijks vaste klanten doen terugkomen.</p>
            <p>Kortom, <span>"La Bella Italia"</span> vlakbij huis...</p>
        </div>
{% endblock %}
{% endblock %}