{% extends 'AlexPizzaBundle::layout.html.twig' %}

{% block content %}

{% block body -%}
<h1>Pizza list</h1>

<table class="records_list">
    
    <tbody>
        {% for entity in entities %}
        <tr>            
            <td>{{ entity.naam }}</td>
            <td>{{ entity.omschrijving }}</td>
            <td>{{ entity.basisprijs }}</td>         
        </tr>
        {% endfor %}
    </tbody>
</table>


    {% endblock %}
{% endblock %}
