{% extends 'AlexPizzaBundle::layout.html.twig' %}

{% block content %}

{% block body -%}
<div class="std"><h1>Contacteer ons</h1>
<p><strong>WIJZIGING PERSOONLIJKE GEGEVENS:</strong></p>
<p>Wenst u uw adres of profiel te wijzigen ?<br><a href="mailto: address@AlexPizzaShop.be?subject=Wijzigen van adres of profiel (vragen)">Klik hier.</a></p>
<p><br><strong>KORTINGSBONS:</strong></p>
<p>Wenst u zich in te schrijven om kortingsbons te ontvangen?<br><a href="http://delivery.pizzahut.be/customers/account/create/">Klik hier.</a></p>
<p><br><strong>PRODUCTEN:</strong></p>
<p>Wenst u informatie over de samenstelling van onze producten ?<br><a href="mailto: product@AlexPizzaShop.be?subject=Product info">Klik hier.</a></p>
<p><br><strong>ONLINE BESTELLINGEN:</strong></p>
<p>Voor alle vragen over of problemen met online bestellingen ?<br><a href="mailto: online-order@AlexPizzaShop.be?subject=Vragen en/of opmerkingen bij online bestellingen">Klik hier.</a></p>
<p><br><strong>SOLLICITATIES:</strong></p>
<p>Wenst u te solliciteren voor een job bij Alex Pizza Shop of heeft u vragen hieromtrent ?</p>
<p><a href="/jobs">Klik hier.</a><strong>&nbsp;</strong></p>
<p><strong><br>FRANCHISE:</strong></p>
<p>Wenst u als franchisenemer te starten ?<br><a href="mailto: franchise@AlexPizzaShop.be?subject=Informatie nodig om franchise te worden">Klik hier.</a></p>
<p><br><strong>SERVICE:</strong></p>
<p>Hebt u (on)aangename ervaringen gehad in één van onze restaurants , bij een levering of afhaling ? Laat het ons weten aub.<br><a href="mailto: info@AlexPizzaShop.be?subject=Service op/aan -merkingen">Klik hier.</a></p>
<p><strong><br>NIEUWE VESTIGINGEN:</strong></p>
<p>Beschikt u over informatie betreffende panden geschikt voor mogelijke nieuwe vestigingen ?<br><a href="mailto: development@AlexPizzaShop.be?subject=Development Info">Klik hier.</a></p>
<p><br><strong>ANDERE VRAGEN:</strong></p>
<p>Heeft u een andere vraag ?<br><a href="mailto: info@AlexPizzaShop.be?subject=Algemene vragen of info omtrent Alex Pizza Shop">Klik hier.</a></p></div>
{% endblock %}
{% endblock %}